<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ratingOneColorHex</key>
	<string>c9c900</string>
	<key>ratingTwoColorHex</key>
	<string>c99700</string>
	<key>ratingThreeColorHex</key>
	<string>c96500</string>
	<key>ratingFourColorHex</key>
	<string>c93200</string>
	<key>ratingFiveColorHex</key>
	<string>C90017</string>
	<key>closedRedColorHex</key>
	<string>F44336</string>
	<key>openGreenColorHex</key>
	<string>4CAF50</string>
	<key>mainColorHex</key>
	<string>C90017</string>
	<key>primaryFont</key>
	<string>Avenir-Heavy</string>
	<key>secondaryFont</key>
	<string>Avenir-Medium</string>
</dict>
</plist>
